<body>
  <div class="calculator">
    <div class="calculator-screen">
      <div>{{ previousSign }}{{ previous }}</div>
      <div>{{ operation }}</div>
      <div class="result">{{ currentSign }}{{ current }}</div>
    </div>

    <table class="calculator-body">
      <tbody>
        <tr>
          <td (click)="percentage()">&percnt;</td>
          <td (click)="reset()">CE</td>
          <td (click)="reset()">C</td>
          <td (click)="backSpace()">⌫</td>
        </tr>

        <tr>
          <td (click)="inverse()">1/X</td>
          <td (click)="square()">X<sup>2</sup></td>
          <td (click)="squareRoot()">&radic;</td>
          <td (click)="insertOperation('÷')">&divide;</td>
        </tr>

        <tr>
          <td class="number" (click)="insertNumber('7')">7</td>
          <td class="number" (click)="insertNumber('8')">8</td>
          <td class="number" (click)="insertNumber('9')">9</td>
          <td (click)="insertOperation('x')">&times;</td>
        </tr>

        <tr>
          <td class="number" (click)="insertNumber('4')">4</td>
          <td class="number" (click)="insertNumber('5')">5</td>
          <td class="number" (click)="insertNumber('6')">6</td>
          <td (click)="insertOperation('-')">&minus;</td>
        </tr>

        <tr>
          <td class="number" (click)="insertNumber('1')">1</td>
          <td class="number" (click)="insertNumber('2')">2</td>
          <td class="number" (click)="insertNumber('3')">3</td>
          <td (click)="insertOperation('+')">&plus;</td>
        </tr>

        <tr>
          <td (click)="changeSign()">&plusmn;</td>
          <td class="number" (click)="insertNumber('0')">0</td>
          <td (click)="insertNumber('.')">&#8729;</td>
          <td (click)="calculate()">&equals;</td>
        </tr>
      </tbody>

    </table>
  </div>
</body>
